{% extends "flights/layout.html" %}
{% block body%}
<h1>flight {{flight.id}}</h1>
<ul>
<li> Origin: {{flight.Origin}}</li>
<li> Destination : {{ flight.Destination}}</li>
<li> Duration : {{flight.Duration}}</li>

</ul>
<h2>Passengers </h2>
<ul>
{% for passenger in passengers%}
<li> {{ passenger}}</li>
{%empty%}
   <li> No passengers </li>
{%endfor%}
</ul>
<form action ="{%url 'book' flight.id %}" method= "post">
   {% csrf_token %}
   <select name= "passenger" id="">
     {% for passenger in non_passengers%}
      <option value ="{{ passenger.id}}">{{passenger}}</option>
     {%endfor%}
  </select>
<input type ="submit">
</form>

<a href="{%url 'index'%}"> All Flights</a>
{% endblock%}